body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #b9bbbe;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
    width: 1200px;
    height: 72px;
    background-color: #070e5c;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

a{
    text-decoration: inherit;
    color: inherit;

}

a.logo-link:hover{
    color: #ffffff;
}

a:hover{
    color: #CD101F;
}

.site-logo{
    text-decoration: none;
    font-size: 24px;
    width: 181px;
    flex-shrink: 0;
    padding: 0 0 0 150px;
    font-weight: 700;
}

ul{
    list-style: none;
    padding: 0;

}

.header-links{
    display: flex;
    gap: 20px;
    width: 179px;
    flex-shrink: 0;
    padding: 0 150px 0 150px;
    font-weight: 700;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 1200px;
}

.cont-1{
    height: 234px;
    width: 1200px;
    background-color: #070e5c;
    padding: 16px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left-1{
    padding: 0 0 0 150px;
    height: 145px;
    width: 480px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-1-main{
    font-size: 40px;
    font-weight: 700;
    width: inherit;
}

.left-1-sub{
    width: inherit;
    padding: 0 0 8px 0;
}

.left-1-but{
    background-color: #5865f2;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    border-width: 0;
    
}

.right-1{
    padding: 0 150px 0 0;
}

.cont-2{
    height:334px;
    width: 1200px;
    background-color: #72767d;
    padding: 16px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.cont-2-header{
    font-size:24px;
    font-weight: 700;
}

.cont-2-items{
    display: flex;
    justify-content: center;
    gap: 125px;
    padding: 16px;
}

.cont-2-item{
    display: flex;
    flex-direction: column;
}

.cont-2-item-image{
    width: 144px;
    height: 144px;
    border-radius: 15px;
    border-width: 3px;
    border-color: #5865f2;
    border-style: solid;
}

.cont-2-item-text{
    width: 150px;
    padding: 16px 0 0 0;
    text-align: center;
}

.cont-3{
    height: 250px;
    width: 1200px;
    background-color: #2f3437;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-3-quote{
    width: 700px;
    font-size: 36px;
    font-style: italic;
}

.cont-3-attribute{
    width: 700px;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.cont-4{
    height: 250px;
    width: 1200px;
    background-color: #72767d;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-4-main{
    height: 150px;
    width: 900px;
    background-color: #5865f2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 87px;
}

.cont-4-sub-l-header{
    font-size: 28px;
    font-weight: 700;

}

.cont-4-sub-r{
    background-color: #5865f2;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 8px 4px 8px;
}

.footer{
    width: 1200px;
    height: 72px;
    background-color: #070e5c;
    display: flex;
    align-items: center;
    justify-content: center;
}