body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #b9bbbe;
}

.header{
    width: 1200px;
    height: 72px;
    background-color: #3a4297;
}

.content{

}

.footer{

}